/* fonts */
@font-face {
  font-family: font3;
  src: url(../fonts/btn.ttf);
}
@font-face {
  font-family: font2;
  src: url(../fonts/CuteFont-Regular.ttf);
}
@font-face {
  font-family: font1;
  src: url(../fonts/BigShoulders.ttf);
}

.font1 {
  font-family: font1;
}

.font2 {
  font-family: font2;
}


.font3 {
  font-family: font3;
}

/* landing page css */

.masthead {
  position: absolute;
  width: 100%;
  color: #fff;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  background: url("../img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1 {
  font-size: 4.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.8rem;
  color: #fff;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}

.underCPage {
  position: absolute;
  width: 100%;
  color: #fff;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  background: url("../img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dashPage {
  width: 100%;
  color: #fff;
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: url("../img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blackBack {
  background-color: #2c3531;
}

.dashpadding {
  padding: 13px;
  margin-top: 7px !important;
  margin-bottom: 5px !important;
}
.notFoundPTag {
  margin: auto;
  padding: 10px;
  text-align: right; 
  color: aliceblue;
  font-size: 2.3rem;
}
.notFoundPHeight {
  left: 0;
  line-height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.mtopDash { 
  margin-top: 7rem;
}

.dashHeight {
  margin: auto;
  text-align: center;
  top: 50%;
  width: 80%;
}

 /*   btn   */
 .mybtn2 {
  color: #116466!important;
  background-color: #fff!important;
  border-color: #2c3531!important;
}

.mybtn1 {
  color: #fff!important;
  background-color: #116466!important;
  border-color: #2c3531!important;
}

.btnLayout {
  margin-bottom: 10px!important;
  width: 100%!important;
  font-size: 1.2rem!important;
}

.navContainer a{
 margin-left: 5px;
 margin-right: 5px;
}

.navContainer a{ 
  margin-left: 5px;
  margin-right: 5px;
}

/*  footer  */

.footerCss{
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: #D1E8E2;
  background-color: #2c3531;
}

.marginP{
  margin: 8px;
  text-align: center;
  font-size: 1.15rem;
  color: #f8f9fa;
}

.marginP a{
  color: #f8f9fa;
}

.marginP a:hover {
  color: #f8f9fa;
  text-decoration: none;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
  .marginP {
    margin: 8px;
    text-align: center;
    font-size: 1.35rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 8.5rem;
    line-height: 8.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 2rem;
  }
  .marginP {
    margin: 10px;
    text-align: center;
    font-size: 1.55rem;
  }
}

/* login page */

.errorbackgroung {
  background-color: rgba(0, 0, 0, 0.49);
  width: 100%;
  font-size: 1.1rem;
}

.inputLayout {
  margin: 3px 0px 3px 0px!important;
  width: 100%!important;
  font-size: 1.2rem!important;
}

.submitLayout {
  margin: 20px 0px 7px 0px!important;
  width: 100%!important;
  font-size: 1.2rem!important;
}


/* inputs */
.inputBorder{
  border: 1.5px solid #2c3531 !important;
}
.redBorder{
  border-color: #ff652f!important;
  border-radius: 0.25rem;
}
input::placeholder {               
  /* Firefox, Chrome, Opera */ 
  text-align: center; 
} 
input:-ms-input-placeholder { 
    
  /* Internet Explorer 10-11 */ 
  text-align: center; 
} 
input::-ms-input-placeholder {  
    
  /* Microsoft Edge */ 
  text-align: center; 
} 

/* admin page */
.admin-card {
  width: 60%;
  margin: auto;
  opacity: 0.8;
  color: white;
}

.masterhead-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  background: url("../img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.margin-top-admin {
  margin-top: 10px;
}

.card-admin-background {
  background-color: #116466;
  border: 2px solid #2c3531;
  
}

.admin-scroll-y {
  overflow-y: scroll;
  height: 89%;
  margin-top: 6rem;
}

.videoStyle {
  max-width: 550px;
  width: 90%;
  height: 50%;
  margin: auto;
}

.mtop {
  margin-top: 100px;
}

.blue {
  background-color: #ff652f;
}

.wt{
  width: 70%;
  margin: auto;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 23rem;
}

.qwewq{
  background-image: url('./DSC_7284.JPG');
} 

.ertre{
  background-image: url('DSC_7025.JPG');
}

.ded{
  background-image: url('q.jpg');
}


.persianDirection {
  direction: rtl;
}

.floattt {
  text-align: right;
}
